<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neko Ja</title>
    <link
      rel="icon"
      href="https://www.pngmart.com/files/15/Black-Cat-Vector-PNG-File.png"
    />
    <!-- Add Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header
      class="bg-primary text-white text-center py-5"
      style="font-family: 'Helvetica Neue', sans-serif"
    >
      <h1>Cats</h1>
    </header>

    <!-- Add a Bootstrap card with rounded edges -->
    <div class="container mt-5">
      <div class="card rounded">
        <div class="card-header bg-primary text-white">
          Cat Names in Different Languages
        </div>
        <div class="card-body text-center">
          <h5>Ucing &#9;قطة &#9;Kucing &#9;猫 &#9;katt &#9;кот &#9;고양이</h5>
        </div>
      </div>
    </div>

    <!-- Images in a row within a card -->
    <div class="container mt-5">
      <div class="card rounded">
        <div class="card-header bg-primary text-white">Cat Images</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <img
                src="https://c4.wallpaperflare.com/wallpaper/801/136/845/cat-4k-widescreen-hd-wallpaper-preview.jpg"
                class="img-fluid rounded mb-3"
                alt="cat2"
              />
            </div>
            <div class="col-md-6">
              <img
                src="https://images.hdqwalls.com/download/cat-sleeping-qe-1920x1080.jpg"
                class="img-fluid rounded mb-3"
                alt="cat3"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <blockquote
      class="text-center mt-5"
      style="font-family: 'Helvetica Neue', sans-serif"
    >
      "If a cat could talk, they wouldn't." - Nan Porter
    </blockquote>
    <div class="container mt-5">
      <h1 class="pl-3" style="font-family: 'Helvetica Neue', sans-serif">
        List of Cats
      </h1>
      <div class="row row-cols-1 row-cols-md-5 mt-3">
        <div class="col">
          <br />
          <div class="card rounded">
            <div class="card-body">
              <ul>
                <li>Siamese cat</li>
                <li>Persian cat</li>
                <li>Maine Coon cat</li>
                <li>Abyssinian cat</li>
                <li>Sphynx cat</li>
                <li>Aegean cat</li>
                <li>American Bobtail cat</li>
                <li>American Curl cat</li>
                <li>American Shorthair cat</li>
                <li>American Wirehair cat</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <br />
          <div class="card rounded">
            <div class="card-body">
              <ul>
                <li>Egyptian Mau cat</li>
                <li>European Burmese cat</li>
                <li>Exotic Shorthair cat</li>
                <li>Havana Brown cat</li>
                <li>Japanese Bobtail cat</li>
                <li>Javanese cat</li>
                <li>Khao Manee cat</li>
                <li>Korat cat</li>
                <li>LaPerm cat</li>
                <li>Maine Coon cat</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <br />
          <div class="card rounded">
            <div class="card-body">
              <ul>
                <li>Selkirk Rex cat</li>
                <li>Siamese cat</li>
                <li>Singapura cat</li>
                <li>Snowshoe cat</li>
                <li>Somali cat</li>
                <li>Sphynx cat</li>
                <li>Tonkinese cat</li>
                <li>Turkish Angora cat</li>
                <li>Turkish Van cat</li>
                <li>British Shorthair cat</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <br />
          <div class="card rounded">
            <div class="card-body">
              <ul>
                <li>Burmese cat</li>
                <li>Chartreux cat</li>
                <li>Cornish Rex cat</li>
                <li>Devon Rex cat</li>
                <li>Pixie-bob cat</li>
                <li>Ragdoll cat</li>
                <li>Russian Blue cat</li>
                <li>Savannah cat</li>
                <li>Scottish Fold cat</li>
                <li>Asian cat</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <br />
          <div class="card rounded">
            <div class="card-body">
              <ul>
                <li>Balinese cat</li>
                <li>Bengal cat</li>
                <li>Birman cat</li>
                <li>Bombay cat</li>
                <li>Norwegian Forest cat</li>
                <li>Ocicat cat</li>
                <li>Oriental Shorthair cat</li>
                <li>Persian cat</li>
                <li>Peterbald cat</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table
      class="table table-bordered mt-5"
      style="font-family: 'Helvetica Neue', sans-serif"
    >
      <thead>
        <tr>
          <th>Classification</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Domain</b></td>
          <td><strong>Eukaryota</strong></td>
        </tr>
        <tr>
          <td><em>Kingdom</em></td>
          <td><small>Animalia</small></td>
        </tr>
        <tr>
          <td><strike>Phylum</strike></td>
          <td><u>Chordata</u></td>
        </tr>
        <tr>
          <td>Class<sub>hi</sub></td>
          <td><ins>Mammalia</ins></td>
        </tr>
        <tr>
          <td>Order<sup>hi</sup></td>
          <td>Carnivora</td>
        </tr>
        <tr>
          <td>Suborder</td>
          <td>Feliformia</td>
        </tr>
        <tr>
          <td>Family</td>
          <td>Felidae</td>
        </tr>
        <tr>
          <td>Subfamily</td>
          <td>Felinae</td>
        </tr>
        <tr>
          <td>Genus</td>
          <td>Felis</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Species</td>
          <td><i>F.catus</i></td>
        </tr>
      </tfoot>
    </table>

    <!-- Footer -->
    <footer
      class="bg-primary text-white text-center py-3"
      style="font-family: 'Helvetica Neue', sans-serif"
    >
      &copy; ETS Template
    </footer>

    <!-- Include Bootstrap JS and jQuery for Bootstrap functionality -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
