<!DOCTYPE html>
<html lang="en-US">
<head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400&family=Oswald:wght@600&display=swap"
    rel="stylesheet"
  />
  <title>Arel's Website</title>
</head>
<body class="bg-dark text-success text-center">
  <div class="container">
    <!-- Change the following text to customize your heading -->
    <h1 class="mt-5" style="font-family: 'Oswald', sans-serif">REASONS WHY TO HIRE ME</h1>
    <!-- Change the following text to customize your subheading -->
    <h3>Professional Resume by Azarel Grahandito Adi</h3>
    <!-- Change the image source and alt text to your own image -->
    <img src="MyPhoto.jpg" class="img-fluid mt-3 rounded" alt="My Photo" width="300" />
    <!-- Customize the following paragraph to your content -->
    <p style="color: #fff; line-height: normal">
      Halo! Perkenalkan saya Azarel dan inilah beberapa alasan mengapa anda <br />
      ((perusahaan)) harus menerima saya sebagai karyawan anda!
    </p>
    <!-- Repeat the following sections for each point you want to highlight -->
    <!-- Change the heading, image source, and alt text for each point -->
    <h1 class="mt-5" style="color: #fff; font-family: 'Oswald', sans-serif">1. i am a hard worker</h1>
    <img src="download.jpeg" class="img-fluid" alt="Hard Worker" width="300" />
    <br />
    <br />
    <!-- Customize the following paragraph for each point -->
    <h3 class="mt-5" style="color: #fff; font-family: 'Oswald', sans-serif">2. kula jawa</h3>
    <img src="jawa.jpeg" class="img-fluid" alt="Kula Jawa" width="300" />
    <br />
    <br />
    <!-- Repeat the same structure for additional points -->
    <!-- Customize the links and social media icons below -->
    <h1 class="mt-5" style="font-family: 'Oswald', sans-serif">
      INTERESTED IN WORKING WITH ME?
    </h1>
    <p>Lets talk! Hubungi saya melalui sosial media berikut ini!</p>
    <a href="https://instagram.com/azarelga" class="fa fa-instagram text-white h2" style="text-decoration: none;"></a>
    <a href="https://github.com/azarelga" class="fa fa-github text-white h2 ml-3" style="text-decoration: none;"></a>
    <a href="https://linkedin.com/in/azarelga" class="fa fa-linkedin text-white h2 ml-3" style="text-decoration: none;"></a>
    <br />
    <br />
  </div>
</body>
</html>
